{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section id="top" class="full-width-height backgrounds">
        <div class="overlay">
            <div class="section-content">
                <h2 class="title mr-4">café</h2>
                <p>Come and visit our café, where you can borrow boardgames from our extensive collection. If it's on our shop page, it's in our collection!</p>
                <p>How it works:</p>
                <ul>
                    <li>You pay a cover fee to rent a table.</li>
                    <li>The charge is £4.50 for 2 hours.</li>
                    <li>Play as many games as you like.</li>
                    <li>Order drinks and snacks from our table service, so you don't need to waste valuable playing time queing for your drinks.</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="row full-width-height">
        <div id="left" class="col-md-6 backgrounds">
            <div class="overlay">
                <div class="section-content">
                    <h2 class="title">events</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis recusandae iste porro enim maiores repellendus sint, odio magnam alias exercitationem veniam, quas, suscipit ducimus dolor accusamus eaque commodi aperiam. Similique.</p>
                </div>
            </div>
        </div>
        
        <div id="right" class=" col-md-6 backgrounds">
            <div class="overlay">
                <div class="section-content">
                    <h2 class="title">membership</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis recusandae iste porro enim maiores repellendus sint, odio magnam alias exercitationem veniam, quas, suscipit ducimus dolor accusamus eaque commodi aperiam. Similique.</p>
                </div>
            </div>
        </div>
    </div>

    <section id="bottom" class="full-width-height backgrounds">
        <div class="overlay">
            <div class="section-content">
                <h2 class="title">shop</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis recusandae iste porro enim maiores repellendus sint, odio magnam alias exercitationem veniam, quas, suscipit ducimus dolor accusamus eaque commodi aperiam. Similique.</p>
            </div>
        </div>
    </section>

{% endblock %}
