{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}

{% block content %}

<section id="top" class="bg-light">
    <div class="container">
        <div class="row d-flex align-items-end justify-content-end">
            <div class="col-12 col-md-6 bg-warning text-dark py-2">
                <h2 class="font-weight-bold logo-font">The Hexagon</h2>
                <p class="mb-0 font-weight-bold">Board game café in sunny Falmouth</p>
                <ul>
                    <li>Play as many games as you like.</li>
                    <li>€4.50 to rent a table for 2 hours.</li>
                    <li>Table service brings your drinks and snacks.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container">
        <div class="row d-flex align-items-end justify-content-start">
            <div class="col-12">
                <!-- Carousel from: https://azmind.com/bootstrap-carousel-multiple-items/ -->
                {% include 'home/includes/event_carousel.html' with items=random_events %}
            </div>
            <div class="col-12 col-md-6 bg-warning text-dark py-2">
                <h2 class="font-weight-bold logo-font">Events</h2>
                <p class="mb-0"><a href="{% url 'events' %}">Upcoming events</a> @ The Hexagon</p>
            </div>
        </div>
    </div>
</section>
<section id="bottom" class="bg-light">
    <div class="container">
        <div class="row d-flex align-items-end justify-content-end">
            <div class="col-12 col-md-6 bg-warning text-dark py-2">
                <h2 class="font-weight-bold logo-font">join us</h2>
                <p class="mb-0"><a href="{% url 'membership' %}">Become a member</a> for exclusive deals</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container">
        <div class="row d-flex align-items-end justify-content-start">
            <div class="col-12">
                <!-- Carousel from: https://azmind.com/bootstrap-carousel-multiple-items/ -->
                {% include 'home/includes/game_carousel.html' with items=random_games %}
            </div>
            <div class="col-12 col-md-6 bg-warning text-dark py-2">
                <h2 class="font-weight-bold logo-font">Shop</h2>
                <p class="mb-0"><a href="{% url 'games' %}">Browse</a> our enormous catalogue</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
