body {
    padding: 0;
}

section {
    background-size: cover;
}

section .row {
    height: 40vh;
}

#top {
    background-image: url(/media/centralperk.png)
}

#bottom {
    background-image: url(/media/4colour_game.jpg);
}

.carousel-item {
    height: 25vh;
}

.carousel-inner img {
    height: 25vh;
    object-fit: contain;
}
