

.gamecss {
    color: red;
    background-color: aqua;
}

.card-body {
    /*padding: 0.25rem;*/
}

.game-card  {
    /*height: 400px;*/
}

.card-footer {
    /*width: 100%;
    bottom: 1rem;*/
}

.game-img-container {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.game-img-container img {
    max-height: calc(300px - 2.5rem);
    object-fit: contain;
}

.game-title {
    font-size: 18px;
}

.dropdown-fixed-h {
    max-height: 250px;
    overflow: auto;
}

.detail-img {
    max-height: 300px;
    object-fit: contain;;
}

