<div class="form-group">
	<label for="{{ order_form.full_name.id_for_label }}" class="">{{ order_form.full_name.label }}</label>
	<div class="float-right">{{ order_form.full_name }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.street_address1.id_for_label }}" class="">{{ order_form.street_address1.label }}</label>
	<div class="float-right">{{ order_form.street_address1 }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.street_address2.id_for_label }}" class="">{{ order_form.street_address2.label }}</label>
	<div class="float-right">{{ order_form.street_address2 }}</div>
</div>
<div class="form-group">
    <label for="{{ order_form.town_or_city.id_for_label }}" class="">{{ order_form.town_or_city.label }}</label>
	<div class="float-right">{{ order_form.town_or_city }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.county.id_for_label }}" class="">{{ order_form.county.label }}</label>
	<div class="float-right">{{ order_form.county }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.postcode.id_for_label }}" class="">{{ order_form.postcode.label }}</label>
	<div class="float-right">{{ order_form.postcode }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.country.id_for_label }}" class="">{{ order_form.country.label }}</label>
	<div class="float-right">{{ order_form.country }}</div>
</div>
<div class="form-group">
	<label for="{{ order_form.phone_number.id_for_label }}" class="">{{ order_form.phone_number.label }}</label>
	<div class="float-right">{{ order_form.phone_number }}</div>
</div>
