{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}


<body>
    

{% block page_header %}

<nav class="navbar navbar-expand-lg flex-column flex-md-row navbar-dark bg-dark">
    {% include 'includes/shop-nav.html' %} 
</nav>
    <!-- <div class="container header-container">
        <div class="row">
        </div>
    </div> -->
{% endblock %}

                

{% block content %}


    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row float-right"> 

            <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="" class="dropdown-item">Price</a>
                        <a href="" class="dropdown-item ">Rank</a>
                        <a href="" class="dropdown-item ">Weight</a>
                        <a href="" class="dropdown-item">All Products</a>
                    </div>
                </li>
            </ul>
        </div>

        
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
    <!-- --------------- Sidebar Filters --------------- -->    
    <div class="row">   

        
            
        <div class="col-md-3" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Category
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    {% for category in categories %}
                    <div class="card-body">
                        <a href="">{{ category.friendly_name}}</a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Mechanic
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    {% for mechanic in mechanics %}
                    <div class="card-body">
                        <a href="">{{ mechanic.friendly_name}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>      
        
        <div class="container col-md-8">
            <div id="game-title" class="row justify-content-center mb-2">{{ product.names }}</div>
            <div class="row">
                <div class="col-lg-5">
                    <a href=" product.image_url " target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.names }}">
                    </a>
                </div>
                <div class="col-lg-7">
                    
                    <div class="row">
                        <div class="col-sm-6 font-weight-bold">€ {{ product.price }}</div>
                        <div class="col-sm-6"> <button type="button" class="btn btn-warning">Add to Cart</button> </div>
                    </div>
                    <div class="row"><i class="fas fa-child description-icon mr-2"></i> Recommended Age: {{ product.age }}+</div>
                    <div class="row"><i class="fas fa-user-friends mr-2"></i> Min. Players: {{ product.min_players }}</div>
                    <div class="row"><i class="fas fa-users mr-2"></i> Max. Players: {{ product.max_players }}</div>
                    <div class="row"><i class="fas fa-clock mr-2"></i> Average Time: {{ product.avg_time }}</div>
                    <div class="row overflow-hidden "><i class="fas fa-info mr-2"></i>Detailed description at <a href="{{ product.bgg_url }}" target="_blank" class="ml-1 text-decoration-none"> Boardgame Geek</a></div>
                    <div class="row"><i class="fas fa-trophy mr-2"></i> Rank on BGG: {{ product.rank }}</div>
                    <div class="row"><i class="fas fa-brain mr-2"></i> Complexity weight: {{ product.weight }}/5</div>
                    <div class="row"><i class="far fa-calendar-alt mr-2"></i> Year: {{ product.year }}</div>
                    <div class="row"><i class="fas fa-pencil-alt mr-2"></i> Designer: {{ product.designer }}</div>
                    
                </div>
            </div>

        
   
    </div>
<!-- TODO get bootstrap involved -->
<!-- with help from https://samulinatri.com/blog/django-pagination-tutorial/ -->        
                {% if page_obj.paginator.num_pages > 1 %}

                    {% if page_obj.has_previous %}

                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>

                    {% endif %}

                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    {% if page_obj.has_next %}

                        <a href="?page={{ page_obj.next_page_number }}">next</a>

                    {% endif %}

                {% endif %}

{% endblock %}

</body>