{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/back-to-top.js' %}"></script>
{% endblock %}

<body>
    

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4">
            <h2 class="logo-font">Games</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

                

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">   
            <!-- --------------- Game card rows and columns --------------- -->    
            <div class="col-sm-9">
                <div class="row mb-3">
                    <div class="col-lg-2 col-6 mb-3 mb-lg-0 d-flex justify-content-center">
                        <div class="dropdown d-flex align-items-center">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="category-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </button>
                            <div class="dropdown-menu dropdown-fixed-h" aria-labelledby="category-dropdown">
                                {% for category in categories %}
                                    {% if current_filter_cat and current_filter_cat == category.friendly_name %}
                                    <a href="?category={{ category.name }}" class="dropdown-item selected bg-primary text-dark">{{ category.friendly_name}}</a>
                                    {% else %}
                                    <a href="?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 mb-3 mb-lg-0 d-flex justify-content-center">
                        <div class="dropdown d-flex align-items-center">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="mechanic-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mechanic
                            </button>
                            <div class="dropdown-menu dropdown-fixed-h" aria-labelledby="mechanic-dropdown">
                                {% for mechanic in mechanics %}
                                    {% if current_filter_mech and current_filter_mech == mechanic.friendly_name %}
                                    <a href="?mechanic={{ mechanic.name }}" class="dropdown-item selected bg-primary text-dark">{{ mechanic.friendly_name}}</a>
                                    {% else %}
                                    <a href="?mechanic={{ mechanic.name }}" class="dropdown-item">{{ mechanic.friendly_name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 mb-3 mb-lg-0 d-flex justify-content-center">
                        <div class="dropdown d-flex align-items-center">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort By
                            </button>
                            <div class="dropdown-menu" aria-labelledby="sort-dropdown">
                                <a href="?{{ get_params.no_sort }}sort=price&direction=asc" class="dropdown-item">Price (Lowest)</a>
                                <a href="?{{ get_params.no_sort }}sort=price&direction=desc" class="dropdown-item">Price (Highest)</a>
                                <a href="?{{ get_params.no_sort }}sort=complexity&direction=desc" class="dropdown-item ">Complexity (Highest)</a>
                                <a href="?{{ get_params.no_sort }}sort=complexity&direction=asc" class="dropdown-item ">Complexity (Lowest)</a>
                                <a href="?{{ get_params.no_sort }}sort=geek_rating&direction=desc" class="dropdown-item ">Rating (Highest)</a>
                                <a href="?{{ get_params.no_sort }}sort=geek_rating&direction=asc" class="dropdown-item ">Rating (Lowest)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 mb-3 mb-lg-0 d-flex justify-content-center">
                        <div class="dropdown d-flex align-items-center">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="count-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Items Per Page
                            </button>
                            <div class="dropdown-menu dropdown-fixed-h" aria-labelledby="count-dropdown">
                                <a href="?{{ get_params.no_count }}count=25" class="dropdown-item">25</a>
                                <a href="?{{ get_params.no_count }}count=50" class="dropdown-item">50</a>
                                <a href="?{{ get_params.no_count }}count=100" class="dropdown-item">100</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 pr-0">
                        <form method="GET" action="{% url 'games' %}">
                            <div class="input-group w-100 border border-dark">
                                <input class="form-control rounded-0 bg-light" type="text" name="q" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-primary rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-end">
                    {% if current_filter_cat %}
                        <a href="?{{ get_params.no_cat }}" class="text-danger ml-2">{{ current_filter_cat }}<i class="ml-1 fas fa-times-circle"></i></a>
                    {% endif %}
                    {% if current_filter_mech %}
                        <a href="?{{ get_params.no_mech }}" class="text-danger ml-2">{{ current_filter_mech }}<i class="ml-1 fas fa-times-circle"></i></a>
                    {% endif %}
                    {% if current_query %}
                        <a href="?{{ get_params.no_q }}" class="text-danger ml-2">"{{ current_query }}"<i class="ml-1 fas fa-times-circle"></i></a>
                    {% endif %}
                    {% if current_sorting %}
                        <a href="?{{ get_params.no_sort }}" class="text-danger ml-2">{{ current_sorting }}<i class="ml-1 fas fa-times-circle"></i></a>
                    {% endif %}
                </div>
                <div class="row">
                {% for product in page_obj %}
                {% if product.is_visible %}
                    <div class="card col-xl-3 col-lg-4 my-3 border-0 bg-transparent">
                        <div class="card-body game-img-container">
                            <a href="{% url 'game_detail' product.id %}"> <!-- Image that links to game detail page -->
                                <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.names }}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'game_detail' product.id %}">
                                <p class="text-truncate game-title">{{ product.names }}</p>
                            </a>
                            {% if product.discounted_price %}
                            <p class="lead mb-1 text-right text-dark font-weight-bold">€{{ product.discounted_price }}<span class="ml-2 text-muted font-weight-normal"><del>€{{ product.price }}</del></span></p>
                            {% else %}
                            <p class="lead mb-1 text-right text-dark font-weight-bold">€{{ product.price }}</p>
                            {% endif %}
                            <form class="form float-right" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input type="submit" class="btn btn-primary mt-3" value="Add to Bag">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="row justify-content-center bg-light p-2 my-4">
                <!-- with help from https://samulinatri.com/blog/django-pagination-tutorial/ -->        
                {% if page_obj.paginator.num_pages > 1 %}
                    {% if page_obj.has_previous %}
                        <a href="?{{ get_params.no_page }}page={{ page_obj.previous_page_number }}" class="mr-2">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    {% endif %}
                    <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?{{ get_params.no_page }}page={{ page_obj.next_page_number }}" class="ml-2">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Back to top button (referenced in Readme.md)-->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button">
        <i class="fas fa-arrow-up"></i>
    </a>

{% endblock %}

</body>