{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}

<body>

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-white">
            <h2 class="logo-font">{{ product.names }}</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="container col-md-8">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-7">
            <a href="{% url 'games' %}" class="btn btn-outline-black rounded-0 mb-4 text-white">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3">
            <a href=" {{product.image_url}} " target="_blank">
                <img class="card-img-top img-fluid detail-img" src="{{ product.image_url }}" alt="{{ product.names }}">
            </a>
        </div>
        <div class="col-lg-4">
            <div class="row text-white text-right mt-3 mt-lg-0">
                <div class="col">
                {% if product.discounted_price %}
                    <h2 class="font-weight-bold">€{{ product.discounted_price }}<span class="ml-2 text-muted font-weight-normal"><del>€{{ product.price }}</del></span></h2>
                    {% else %}
                    <h2 class="font-weight-bold">€{{ product.price }}</h2>
                    {% endif %}
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group text-white float-right">
                                    <div class="input-group align-items-center">
                                        <span><strong>Quantity:</strong></span>
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn text-white rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-center" type="number" 
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" 
                                        id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn text-white rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary float-right mt-5 mr-2" value="Add to Bag">
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="w-50 my-4">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-7 col-xl-5 text-white text-left">
            <div class="row">
                <div class="col text-center mb-4 text-white">
                    <h5 class="logo-font">game information</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-child description-icon"></i>
                </div>
                <div class="col-8">
                    <span>Recommended Age:</span>
                </div>
                <div class="col-3 text-right">{{ product.age }}+</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="col-8">
                    <span>Min. Players:</span>
                </div>
                <div class="col-3 text-right">{{ product.min_players }}</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-8">
                    <span>Max. Players:</span>
                </div>
                <div class="col-3 text-right">{{ product.max_players }}</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="col-8">
                    <span>Average Time:</span>
                </div>
                <div class="col-3 text-right">{{ product.avg_time }}m</div>
            </div>
            
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="col-8">
                    <span>Rank on BGG:</span>
                </div>
                <div class="col-3 text-right">{{ product.rank }}</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-brain"></i>
                </div>
                <div class="col-8">
                    <span>Complexity:</span>
                </div>
                <div class="col-3 text-right">{{ product.weight }} / 5</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="col-8">
                    <span>Year:</span>
                </div>
                <div class="col-3 text-right">{{ product.year }}</div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1 text-center">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <div class="col-8">
                    <span>Designer:</span>
                </div>
                <div class="col-3 text-right">{{ product.designer }}</div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
                <div class="col text-center">For more details, see<a href="{{ product.bgg_url }}" target="_blank" class="ml-1 text-decoration-none">Boardgame Geek</a>.</div>
            </div>
        </div>
    </div>
    <hr class="w-50 my-4">
    <div class="row d-flex justify-content-center ">
        <div class="col col-lg-7 text-left mb-4 text-white">
            <h5 class="logo-font">categories</h5>
            <p>
                {% for category in product.categories %}
                    <a href="{% url 'games' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                    {% if not forloop.last %}
                    <span class="text-muted mx-2">/</span>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col col-lg-7 text-left mb-4 text-white">
            <h5 class="logo-font">mechanics</h5>
            <p>
            {% for mechanic in product.mechanics %}
                <a href="{% url 'games' %}?mechanic={{ mechanic.name }}">{{ mechanic.friendly_name }}</a>
                {% if not forloop.last %}
                <span class="text-muted mx-2">/</span>
                {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'games/includes/quantity_input_script.html' %}
{% endblock %}

</body>