{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}


<body>
    

{% block page_header %}

<nav class="navbar navbar-expand-lg flex-column flex-md-row navbar-dark bg-dark">
    {% include 'includes/shop-nav.html' %} 
</nav>
    <!-- <div class="container header-container">
        <div class="row">
        </div>
    </div> -->
{% endblock %}

                

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row float-right"> 
            <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'games' %}?{{ get_params }}sort=price&direction=asc" class="dropdown-item">Price</a>
                        <a href="{% url 'games' %}?{{ get_params }}sort=rank&direction=desc" class="dropdown-item ">Rank</a>
                        <a href="{% url 'games' %}?{{ get_params }}sort=weight&direction=asc" class="dropdown-item ">Weight</a>
                        <a href="{% url 'games' %}" class="dropdown-item">All Products</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">   
            <!-- --------------- Sidebar Filters --------------- -->    
            <div class="col-sm-3" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Category</button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        {% for category in categories %}
                        <div class="card-body">
                            <a href="{% url 'games' %}?category={{ category.name }}">{{ category.friendly_name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Mechanic</button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        {% for mechanic in mechanics %}
                        <div class="card-body">
                            <a href="{% url 'games' %}?mechanic={{ mechanic.name }}">{{ mechanic.friendly_name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>      
            <!-- --------------- Game card rows and columns --------------- -->    
            <div class="col-sm-9">
                <div class="row">
                {% for product in page_obj %}
                    <div class="card col-xl-3 col-md-4 my-3 border-0">
                        <div class="card-body game-img-container bg-white">
                            <a href="{% url 'game_detail' product.id %}"> <!-- Image that links to game detail page -->
                                <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.names }}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'game_detail' product.id %}">
                                <p class="text-truncate game-title">{{ product.names }}</p>
                            </a>
                            <p class="lead mb-1 text-right font-weight-bold">€{{ product.price }}</p>

                            <form class="form float-right" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input type="submit" class="btn btn-primary" value="Add to Bag">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- TODO get bootstrap involved -->
<!-- with help from https://samulinatri.com/blog/django-pagination-tutorial/ -->        
    {% if page_obj.paginator.num_pages > 1 %}

        {% if page_obj.has_previous %}

            <a href="?page={{ page_obj.previous_page_number }}">previous</a>

        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}">next</a>

        {% endif %}

    {% endif %}

{% endblock %}

</body>