<nav class="navbar navbar-light navbar-expand-lg flex-column flex-md-row bg-warning py-3">
    <div class="row w-100 mx-0">
        <a class="col-lg-3 col navbar-brand m-0" href="{% url 'home' %}">The Hexagon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-lg-9 collapse navbar-collapse d-lg-flex justify-content-center" id="navbarSupportedContent">
            <div class="col-lg-8">
                <ul class="navbar-nav d-flex justify-content-center">
                    <li class="nav-item mx-lg-4 mx-0">
                        <a class="nav-link" href="{% url 'games' %}">games</a>
                    </li>
                    <li class="nav-item mx-lg-4 mx-0">
                        <a class="nav-link" href="{% url 'membership' %}">membership</a>
                    </li>
                    <li class="nav-item mx-lg-4 mx-0">
                        <a class="nav-link" href="{% url 'events' %}">events</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="navbar-nav d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="text-dark nav-link" href="{% url 'profile' %}">
                            <div class="">
                                <i class="fas fa-user mr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark nav-link" href="{% url 'view_bag' %}">
                            <div class="">
                                <i class="fas fa-shopping-bag mr-1"></i>
                                {% if product_count > 0 %}
                                    <span class="font-weight-bold">{{ product_count }}</span>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                </ul>     
            </div>
        </div>
    </div>
</nav>
