<div class="collapse navbar-collapse justify-content-center" id="main-nav">
    <!-- search box -->
    <div class="col-lg-4 py-1 py-lg-0">
        <form method="GET" action="{% url 'games' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>