{% extends "account/base.html" %}

{% load i18n %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-light">
            <h2 class="logo-font">Log Out</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 text-light">
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-primary float-right mt-3">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}
