{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-dark">
            <h2 class="logo-font">reset password</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 text-dark">
            {% if user.is_authenticated %}
            <div class="text-danger">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
            {% endif %}
            <p>
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary float-right mt-3" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
