{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-dark">
            <h2 class="logo-font">reset password</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 text-dark">
            {% if user.is_authenticated %}
            <div class="text-danger">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
            {% endif %}
            <p>
                {% blocktrans %}
                We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
    
{% endblock %}
