/* Fixes bug with close button, see https://stackoverflow.com/a/54716844 */
.modal {
    overflow: initial
}

.modal {
    max-height: 300px;
}

#delete-contents {
    height: 100px;
    overflow-y: auto;
}

.modal .btn {
    width: 80px;
}

/* shop editing */

form {
    display: contents
}

form input[type=text], form input[type=number], form input[type=url], form select {
    width: 90%;
    text-align: right;
    background: #F8F9FA;
    border: 1px solid #343a40;
}
