/* Fixes bug with close button, see https://stackoverflow.com/a/54716844 */
.modal {
    overflow: initial
}

.modal {
    max-height: 300px;
}

#delete-contents {
    height: 100px;
    overflow-y: auto;
}

.modal .btn {
    width: 80px;
}

/* shop editing */

form {
    display: contents
}

input[type=text], input[type=number], input[type=url], select {
    width: 90%;
    text-align: right;
}
