<div class="col-12 col-lg-4 text-center">
   <div class="form-group">
        {{ form.names.errors }}
        <label for="{{ form.names.id_for_label }}" class="d-block">{{ form.names.label }}</label>
        {{ form.names }}
    </div>
    <div class="form-group">
        {{ form.category_id.errors }}
        <label for="{{ form.category_id.id_for_label }}" class="d-block">{{ form.category_id.label }}</label>
        {{ form.category_id }}
    </div>
    <div class="form-group">
        {{ form.mechanic_id.errors }}
        <label for="{{ form.mechanic_id.id_for_label }}" class="d-block">{{ form.mechanic_id.label }}</label>
        {{ form.mechanic_id }}
    </div>
    <div class="form-group">
        {{ form.min_players.errors }}
        <label for="{{ form.min_players.id_for_label }}" class="d-block">{{ form.min_players.label }}</label>
        {{ form.min_players }}
    </div>
    <div class="form-group">
        {{ form.max_players.errors }}
        <label for="{{ form.max_players.id_for_label }}" class="d-block">{{ form.max_players.label }}</label>
        {{ form.max_players }}
    </div>
    <div class="form-group">
        {{ form.avg_time.errors }}
        <label for="{{ form.avg_time.id_for_label }}" class="d-block">{{ form.avg_time.label }}</label>
        {{ form.avg_time }}
    </div>
</div>
<div class="col-12 col-lg-4 text-center">
    <div class="form-group">
        {{ form.min_time.errors }}
        <label for="{{ form.min_time.id_for_label }}" class="d-block">{{ form.min_time.label }}</label>
        {{ form.min_time }}
    </div>
    <div class="form-group">
        {{ form.max_time.errors }}
        <label for="{{ form.max_time.id_for_label }}" class="d-block">{{ form.max_time.label }}</label>
        {{ form.max_time }}
    </div>
    <div class="form-group">
        {{ form.age.errors }}
        <label for="{{ form.age.id_for_label }}" class="d-block">{{ form.age.label }}</label>
        {{ form.age }}
    </div>
    <div class="form-group">
        {{ form.price.errors }}
        <label for="{{ form.price.id_for_label }}" class="d-block">{{ form.price.label }}</label>
        {{ form.price }}
    </div>
    <div class="form-group">
        {{ form.image_url.errors }}
        <label for="{{ form.image_url.id_for_label }}" class="d-block">{{ form.image_url.label }}</label>
        {{ form.image_url }}
    </div>
    <div class="form-group">
        {{ form.rank.errors }}
        <label for="{{ form.rank.id_for_label }}" class="d-block">{{ form.rank.label }}</label>
        {{ form.rank }}
    </div>
    <div class="form-group">
        {{ form.bgg_url.errors }}
        <label for="{{ form.bgg_url.id_for_label }}" class="d-block">{{ form.bgg_url.label }}</label>
        {{ form.bgg_url }}
    </div>
    <div class="form-group">
        {{ form.game_id.errors }}
        <label for="{{ form.game_id.id_for_label }}" class="d-block">{{ form.game_id.label }}</label>
        {{ form.game_id }}
    </div>
</div>
<div class="col-12 col-lg-4 text-center">
    <div class="form-group">
        {{ form.year.errors }}
        <label for="{{ form.year.id_for_label }}" class="d-block">{{ form.year.label }}</label>
        {{ form.year }}
    </div>
    <div class="form-group">
        {{ form.avg_rating.errors }}
        <label for="{{ form.avg_rating.id_for_label }}" class="d-block">{{ form.avg_rating.label }}</label>
        {{ form.avg_rating }}
    </div>
    <div class="form-group">
        {{ form.geek_rating.errors }}
        <label for="{{ form.geek_rating.id_for_label }}" class="d-block">{{ form.geek_rating.label }}</label>
        {{ form.geek_rating }}
    </div>
    <div class="form-group">
        {{ form.num_votes.errors }}
        <label for="{{ form.num_votes.id_for_label }}" class="d-block">{{ form.num_votes.label }}</label>
        {{ form.num_votes }}
    </div>
    <div class="form-group">
        {{ form.owned.errors }}
        <label for="{{ form.owned.id_for_label }}" class="d-block">{{ form.owned.label }}</label>
        {{ form.owned }}
    </div>
    <div class="form-group">
        {{ form.designer.errors }}
        <label for="{{ form.designer.id_for_label }}" class="d-block">{{ form.designer.label }}</label>
        {{ form.designer }}
    </div>
    <div class="form-group">
        {{ form.weight.errors }}
        <label for="{{ form.weight.id_for_label }}" class="d-block">{{ form.weight.label }}</label>
        {{ form.weight }}
    </div>
    <div class="form-group">
        {{ form.is_visible.errors }}
        <label for="{{ form.is_visible.id_for_label }}" class="d-block">{{ form.is_visible.label }}</label>
        {{ form.is_visible }}
    </div>
    <div class="form-group">
        {{ form.is_membership.errors }}
        <label for="{{ form.is_membership.id_for_label }}" class="d-block">{{ form.is_membership.label }}</label>
        {{ form.is_membership }}
    </div>
</div>