{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'staff/css/staff.css' %}" />
{% endblock %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-dark">
            <h2 class="logo-font text-danger">staff only</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center mb-4">
        <div class="col col-lg-10 ">
            <a href="{% url 'staff' %}" class="btn text-dark"><i class="fas fa-chevron-left mr-3"></i>Back</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-10 text-dark">
            <div class="row">
                <form method="POST" action="{% url 'commit_add_event' %}">
                    {% csrf_token %}
                    {% include "staff/includes/event_details.html" %}
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <div class="col d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary">Submit</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
