{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col text-center mb-4 text-light">
            <h2 class="logo-font text-danger">staff only</h2>
            <hr class="w-50">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-8">
            <div class="row">
                <div class="col text-center mb-4 text-light">
                    <h4 class="logo-font">shop</h4>
                    <hr class="w-50">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header">Add Product</div>
                        <div class="card-body">Create and add a new product to the shop.</div>
                        <div class="card-footer">
                            <a href="{% url 'add_product' %}" class="btn btn-primary float-right">Add</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Edit Product</div>
                        <div class="card-body">Alter an existing item, including removing it from sale.</div>
                        <div class="card-footer">
                            <a href="{% url 'edit_product' %}" class="btn btn-primary float-right">Edit</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Remove Product</div>
                        <div class="card-body">Permanently remove a product from the shop.</div>
                        <div class="card-footer">
                            <a href="{% url 'remove_product' %}" class="btn btn-primary float-right">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

